.header .name, .contact h2 {
    color: #F78F60;
}

.header a, .header a:visited {
    color: #49F3A9;
}

.header a:hover, #responsible a:hover, .contact a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.rowIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerIcons {
    border: 2px solid black;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.flag {
    background-size: cover;
    background-position: center;
}

.technos, #practices, .contact {
    background-color: #F2EDDD;
}

.technos .row {
    display: flex;
    justify-content: space-between;
}

.headerIcons:hover, .experiences img:hover, .contact img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contact a, .contact a:visited, #responsible a, #responsible a:visited {
    color: #0A3E65;
}

.experiences img {
    max-width: 250px;
}

.contact a img {
    border-radius: 5px;
}


/** For audio styles **/
audio {
    outline: none;
}

/** For contrasted styles **/
.contrasted,
.contrasted #practices {
    background-color: black !important;
}

.contrasted a,
.contrasted a:visited,
.contrasted .name,
.contrasted p,
.contrasted h2,
.contrasted h3,
.contrasted h4,
.contrasted h5,
.contrasted h6 {
    color: white !important;
    font-weight: bold;
}

.contrasted .headerIcons {
    border: 2px solid white;
}

.contrasted a,
.contrasted a:hover,
.contrasted a:visited {
    text-decoration: underline;
}

.audio {
    background-color: black !important;
    background-image: url("../../assets/icons/soundwave-white.svg") !important;
}


.contrasted .audio {
    background-color: white !important;
    background-image: url("../../assets/icons/soundwave.svg") !important;
}

.contrastFlag {
    text-align: center;
    vertical-align: bottom;
    color: black;
    background-color: white;
}