<div class="container-fluid text-center header py-5" (window:scroll)="onScroll($event)"
    [ngClass]="contrastSelect ? 'contrasted' : ''">
    <h1 class="name m-0">{{'header.name'|translate}}</h1>
    <h3 class="job">{{'header.job'|translate}}</h3>
    <p class="m-0">{{'header.line1'|translate}} <a href="#practices">{{'header.link1'|translate}}</a></p>
    <p>{{'header.line2'|translate}} <a href="#responsible">{{'header.link2'|translate}}</a></p>
    <div class="row w-75 m-auto rowIcons p-3 fade-in" *ngIf="!langSelect">
        <div class="col-4">
            <div class="headerIcons m-auto" title="{{'header.colors'|translate}}" (click)="onContrastChange()"
                [ngStyle]="{'background-image': icons[0]}"></div>
        </div>
        <div class="col-4">
            <div class="headerIcons m-auto" title="{{'header.lang'|translate}}" (click)="onLangChange()"
                [ngStyle]="{'background-image': icons[1]}"></div>
        </div>
        <div class="col-4">
            <div class="headerIcons m-auto" title="{{'header.audio'|translate}}" (click)="onAudioChange()"
                [ngStyle]="{'background-image': icons[2]}" [ngClass]="audioSelect ? 'audio' : ''"></div>
        </div>
    </div>
    <div class="row w-75 m-auto rowIcons p-3" *ngIf="langSelect && !contrastSelect">
        <div class="col-4">
            <div class="headerIcons m-auto flag" title="EN" (click)="onLangSelect('en')" id="flagEN"></div>
        </div>
        <div class="col-4">
            <div class="headerIcons m-auto flag" title="ES" (click)="onLangSelect('es')" id="flagES"></div>
        </div>
        <div class="col-4">
            <div class="headerIcons m-auto flag" title="FR" (click)="onLangSelect('fr')" id="flagFR"></div>
        </div>
    </div>
    <div class="row w-75 m-auto rowIcons p-3" *ngIf="langSelect && contrastSelect">
        <div class="col-4">
            <div class="headerIcons m-auto contrastFlag p-2" title="EN" (click)="onLangSelect('en')">EN</div>
        </div>
        <div class="col-4">
            <div class="headerIcons m-auto contrastFlag p-2" title="ES" (click)="onLangSelect('es')">ES</div>
        </div>
        <div class="col-4">
            <div class="headerIcons m-auto contrastFlag p-2" title="FR" (click)="onLangSelect('fr')">FR</div>
        </div>
    </div>
    <audio controls *ngIf="audioSelect" preload="none" controlsList="nodownload">
        <source src="../../assets/audio.mp3" type="audio/mp3">
        Your browser does not support the audio element.
    </audio>
</div>
<div class="container-fluid technos" [ngClass]="contrastSelect ? 'contrasted' : ''">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-12">
                <audio controls *ngIf="audioSelect" preload="none" controlsList="nodownload">
                    <source src="../../assets/aa.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <h2>{{'technos.title'|translate}}</h2>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12 col-lg-4 p-3">
                <h4>{{'technos.tech1'|translate}}</h4>
                <h5>{{'technos.fram1'|translate}}</h5>
                <p>{{'technos.content1_0'|translate}}</p>
                <p>{{'technos.content1_1'|translate}}</p>
            </div>
            <div class="col-12 col-lg-4 p-3">
                <h4>{{'technos.tech2'|translate}}</h4>
                <h5>{{'technos.fram2'|translate}}</h5>
                <p>{{'technos.content2_0'|translate}}</p>
                <p>{{'technos.content2_1'|translate}}</p>
            </div>
            <div class="col-12 col-lg-4 p-3">
                <h4>{{'technos.tech3'|translate}}</h4>
                <h5>{{'technos.fram3'|translate}}</h5>
                <p>{{'technos.content3_0'|translate}}</p>
                <p>{{'technos.content3_1'|translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid experiences" [ngClass]="contrastSelect ? 'contrasted' : ''">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-12">
                <h2>{{'experiences.title'|translate}}</h2>
            </div>
        </div>
        <div class="row p-3" id="elis">
            <div class="col-12 col-md-8 p-3">
                <h5>{{'experiences.company1'|translate}}</h5>
                <h6>{{'experiences.mission1'|translate}}</h6>
                <p>{{'experiences.content1'|translate}}</p>
            </div>
            <div class="col-12 col-md-4 p-3 text-center">
                <a href="https://fr.elis.com/fr" target="_blank">
                    <img class="w-50 shadow-md" src="../../assets/img/ELIS.svg" alt="ElisLogo" />
                </a>
            </div>
        </div>
        <div class="row p-3" id="hngroup">
            <div class="col-12 col-md-8 p-3">
                <h5>{{'experiences.company2'|translate}}</h5>
                <h6>{{'experiences.mission2'|translate}}</h6>
                <p>{{'experiences.content2'|translate}}</p>
            </div>
            <div class="col-12 col-md-4 p-3 text-center">
                <a href="https://www.hn-services.com/fr/" target="_blank">
                    <img class="w-50 shadow-md" src="../../assets/img/HNgroup.png" alt="HNgroupLogo" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="practices" [ngClass]="contrastSelect ? 'contrasted' : ''">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-12">
                <h2>{{'practices.title'|translate}}</h2>
            </div>
        </div>
        <div class="row pt-5" id="standards">
            <div class="col-12 col-md-6">
                <h5>{{'practices.subject1'|translate}}</h5>
                <p>{{'practices.content1'|translate}}</p>
            </div>
        </div>
        <div class="row pt-5" id="review">
            <div class="col-12 col-md-6"></div>
            <div class="col-12 col-md-6">
                <h5>{{'practices.subject2'|translate}}</h5>
                <p>{{'practices.content2'|translate}}</p>
            </div>
        </div>
        <div class="row pt-5" id="tests">
            <div class="col-12 col-md-6">
                <h5>{{'practices.subject3'|translate}}</h5>
                <p>{{'practices.content3'|translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="responsible" [ngClass]="contrastSelect ? 'contrasted' : ''">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-12">
                <h2>{{'responsible.title'|translate}}</h2>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                <p>{{'responsible.content1'|translate}}</p>
                <p>{{'responsible.content2'|translate}}</p>
                <p>{{'responsible.content3'|translate}}</p>
            </div>
            <div class="col-12 text-center">
                <a href="https://institutnr.org/" target="_blank">{{'responsible.button'|translate}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid contact" [ngClass]="contrastSelect ? 'contrasted' : ''">
    <div class="container">
        <div class="row pt-5 text-center">
            <div class="col-12">
                <h2>{{'contact.title'|translate}}</h2>
                <h6>{{'contact.line1'|translate}}</h6>
                <h6>{{'contact.line2'|translate}}</h6>
                <h6>{{'contact.line3'|translate}}</h6>
            </div>
        </div>
        <div class="row p-3 text-center">
            <div class="col-12 selectOK">
                <a href="mailto:{{'contact.email'|translate}}">{{'contact.email'|translate}}</a>
            </div>
            <div class="col-12 selectOK">
                <h6 class="m-0">{{'contact.phone'|translate}}</h6>
            </div>
            <div class="col-12">
                <a href="https://www.linkedin.com/in/oscar-soccol-335465b1/" target="_blank">
                    <img src="../../assets/icons/linkedin.svg" alt="linkedInIcon" class="align-top">
                </a>
            </div>
        </div>
    </div>
</div>