$headings-font-family: 'Josefin', 'Times New Roman', Times, "Comic sans ms", serif;

$font-family-base: 'Dosis', 'Times New Roman', Times, "Comic sans ms", serif;

$font-size-base: 1.6rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

$input-btn-font-family: $font-family-base;

$primary: #22A1ED;
$dark: #04040C;
$headings-color: #131627;
$card-bg: #FCFCFC;

$enable-rounded: false;